#OS junk files
[Tt]humbs.db
*.DS_Store

### project specific ###

# web
/data/nginx/logs/*
/data/nginx/var/www/html/*
/data/nginx/etc/snippets/phalcon
/data/nginx/etc/snippets/php

# php-fpm
/data/php5-fpm/logs/*

# php-fpm-phalcon
/data/php5-fpm-phalcon/logs/*

# mysql
/data/mysql/data/*
/data/mysql/logs/*

# elasticsearch
/data/elasticsearch/var/log
/data/elasticsearch/usr/share/elasticsearch/data
